<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  <title>To Do List</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">WIW</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <br />
  <br />

  <div style="margin-left: 5%">
    <br>

    <!-- Tabel 1 -->
    <div style="display: inline-block; ">
      <h3>Add Data PASIEN</h3>
      <!-- TABEL1 -->
        
      <form method="post" action=TUJUAN_FORM>
        
        <div class="mb-3">
            <label for="nik" class="form-label">nik</label>
            <input type="nik" name="nik" class="form-control" id="nik" value="V_NIK"  required >
        </div>
        <div class="mb-3">
            <label for="nama" class="form-label">nama</label>
            <input type="text" name="nama" class="form-control" id="nama" value="V_NAMA"  required >
        </div>
        <div class="mb-3">
            <label for="tempat" class="form-label">tempat</label>
            <input type="text" name="tempat" class="form-control" id="tempat" value="V_TEMPAT"  required >
        </div>
        <div class="mb-3">
            <label for="tl" class="form-label">Tanggal Lahir</label>
            <input type="date" name="tl" class="form-control" id="tl" value="V_TL"  required >
        </div>
        <div class="mb-3">
          <div>
            <label for="gender" class="form-label">Jenis Kelamin</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="Laki-laki" V_LK />
            <label class="form-check-label" for="gender">Laki-laki</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="Perempuan" V_PR />
            <label class="form-check-label" for="gender">Perempuan</label>
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" id="email" value="V_EMAIL"  required >
        </div>
        V_ID
        <div class="mb-3">
            <label for="telp" class="form-label">telp</label>
            <input type="tel" name="telp" class="form-control" id="telp" value="V_TELP"  required >
        </div>
        <button type="submit" name="id" class="btn btn-primary">Submit</button>
      </form>
      
      <br>


    </div>


  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>